body {
  background:#ebeaf4;
}

.header{
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 3s linear;
  width: 180px;
 
}

.App-header{
  width: 400px;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

