body {
  background:#ebeaf4
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 180px;
}

.App-header {
  /* background-color: white; */
  background: whitesmoke;
  padding:50px;
  margin: 20px
}

.App-view{
  background-color:whitesmoke;
}

.Input{
  font-size: large;
  border-radius: 10px;
  border-color: whitesmoke;
  margin: 10px;
  padding: 2px;
  width: 200;
  
}

.SINGIN{
  background-color:#15b3fe;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.Name{
  color:#15b3fe;
  font-size: 10px;
}

.a{justify-Content:space-between}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
